/* Navbar utama */
.navbar {
  background-color: #ffffff;
  outline-style: solid;
  outline-width: 1.5px;
  border-radius: 70px;
  padding: 10px 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  position: fixed;
  top: 0;
  width: auto;
  z-index: 999;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

/* Brand logo */
.navbar-brand img {
  width: 120px; /* Ukuran logo */
  height: 51,32px;
}
.custom-navbar {
  max-width: 1000px; /* Sesuaikan dengan lebar tabel */
  margin: 20px auto; /* Untuk memusatkan navbar */
  border: 1px solid #dee2e6; /* Tambahkan border agar konsisten */
  background-color: #f8f9fa; /* Warna latar belakang navbar */
  padding: 10px 20px; /* Spasi dalam */
}
